*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: none;
    list-style:none;
}

@font-face {
    font-family: 'Roman-regular';
    src: url('../fonts/A760-Roman-Smc-Regular.ttf') format('truetype');
  }

@font-face {
    font-family: "Akazan-bk";
    src: url('../fonts/Akazan\ Bk.ttf') format('truetype');
}

@font-face {
    font-family: "Akazan-bold";
    src: url("../fonts/Akazan\ Bold.ttf");
}

@font-face {
    font-family: "Akazan-light";
    src: url("../fonts/Akazan\ Lt.ttf");
}

@font-face {
    font-family: "Akazan-regular";
    src: url("../fonts/Akazan\ Rg.ttf");
}
  
:root{
    --primary-background-color: #009688;
    --secondary-background-color: #0096a9;
    --title-font-size: 3.2rem;
    --sub-title-font-size: 2.6rem;
    --primary-font-family: 'Roman-regular';
    --secondary-font-family: 'Akazan-regular';
}

html{
    font-size: 62.5%;
}

 h1,h2,h3,h4,h5,h6 {
    font-family: "Roman-regular";
}

body{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    height:100%;
    width: 100%;
}

.page-title{
    margin: 6rem 0;
    padding: 0.8rem;
    /* box-shadow: 0rem 0.5rem var(--primary-background-color); */
}

.page-title h1{
    text-align: center;
    color: rgb(244, 244, 212);
    font-size: var(--title-font-size);
    text-decoration: underline var(--primary-background-color);
    text-decoration-thickness: 0.2rem;
}