.index-body{
    background-image: url(../../images/layered-peaks-haikei.svg);
}

.login-area{
    margin: auto;
    text-align: center;
    width: 30rem;
    height: 32rem;
    border: 0.5px solid lightgray;
    border-radius: 6px;
    box-shadow: 0.6rem 0.8rem 1rem lightblue;
    background-color: #fff;
    padding: 1rem;
}

.login-area p{
    font-family: "Akazan-bk";
    font-size: 2.1rem;
}

.signin-btn a{
    color: rgb(50, 205, 112);
    font-size: 2rem;
    font-family: "Akazan-bold";
}

.login-area .login-form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem 0;
}

.login-form input{
    position: relative;
    display: block;
    border-radius: 0.5rem;
    border: 0.2px solid rgb(179, 178, 178);
    padding: 0.6rem 2rem;
    margin: 0;
    font-family: "Akazan-regular";
    font-size: 1.6rem;

}

.login-form input:focus{
    outline: 0.5px solid rgb(144, 144, 144);
}

.login-form .password-eye{
    position: relative;
    top: 2.4rem;
    left: 7.5rem;
    font-size: 1.3rem;
    color: rgb(113, 113, 113);
    z-index: 1000;
}

.login-form-warning{
    position: absolute;
    top: 7.6rem;
    text-align: left;
    width: 70%;
    margin-top: 1rem;
    font-family: "Akazan-bk";
    font-size: 1.2rem;
    color: red;
}

.login-form .submit-btn{
    width: 100%;
    margin: 1.5rem 0;
    padding: 0.8rem;
    border: 0.5px solid rgb(199, 161, 132);
    border-radius: 0.5rem;
    color: #fff;
    background-color: var(--secondary-background-color);
    transition: all 850ms ease-in-out;
}

.login-form .submit-btn:hover{
    transform: scale(1.05);
    background-color: var(--primary-background-color);
}
